body{
    text-align: center;
}
div #comienzo{  
    border: 2px cornflowerblue ;
    height: 300px ;
    text-align: center;
    color: rgb(68, 110, 110);
}
#meme{
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 300px;
    border-style: solid;
    text-align: center;
}